    {% extends "base.html" %}
    {% block body %}
    <input type="button" value="Add Movie" onclick="window.location.href = '/movie/add'" class="btn btn-primary btn-lg"-->
    <br/>
    <br/>
    <input type="button" value="Add Screening" onclick="window.location.href = '/screening/add'" class="btn btn-primary btn-lg">
    <br/>
    <br/>
    <input type="button" value="Add Hall" onclick="window.location.href = '/hall/add'" class="btn btn-danger btn-lg">
    <br/>
    <br/>
    <input type="button" value="Set Cost" onclick="window.location.href = '/seat/cost'" class="btn btn-danger btn-lg">
{% endblock %}

</body>


</html>
