<!DOCTYPE html>
<html>

<head>
    <title>Admin Portal</title>
    <script type="text/javascript" src="../static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/bootstrap.min.js"></script>
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/admin.js"></script>
    <style>
    form {
        width: 70%;
    }
    
    td {
        vertical-align: top;
        padding-left: 3%;
        padding-right: 5%;
    }
    
    h1 {
        color: #17866b;
        font-size: 50pt;
    }
    
    .moveRight {
        padding-left: 3%;
        padding-right: 5%;
    }
    
    th {
        background-color: rgba(52, 73, 94, 0.47);
    }
    
    table {
        border-color: rgba(52, 73, 94, 0.9);
    }
    
    optgroup[label="Big"] {
        background-color: lightgrey;
        color: red;
    }
    
    optgroup[label="Small"] {
        background-color: lightgrey;
        color: blue;
    }
    
    optgroup[label="Medium"] {
        background-color: lightgrey;
        color: green;
    }
    
    option {
        color: black;
    }
    
    optgroup option {
        padding-left: 20px;
    }
    </style>
</head>

<body style="margin: 0 20px 20px 20px;">
    <h1>Admin Portal</h1>
    <br/>
    <input type="button" value="Add Movie" onclick="$('#addMovie').toggle('fast')" class="btn btn-primary btn-lg">
    <form id="addMovie" class="addMovie moveRight" hidden="hidden">
        <br/>
        <label for="movie_name">Movie Name</label><br/>
        <input name="title" id="movie_name" type="text" placeholder="Movie Name" required><br/>
        <label for="director">Director</label><br/>
        <input name="director" id="director" type="text" placeholder="Director" required><br/>
        <label for="description">Discription</label><br/>
        <input name="discription" id="description" type="text" placeholder="Discription" required><br/>
        <label for="trailer_url">Trailer Url</label><br/>
        <input name="urli" id="trailer_url" type="text" placeholder="Trailer URL" required><br/>
        <label for="duration">Duration</label><br/>
        <input name="duration" id="duration" type="text" placeholder="Duration" required><br/>
        <br/>
        <button type="button" onclick="addMovie()" class="btn btn-success">ADD</button>
        <button type="button" onclick="$('#addMovie').toggle('fast')" class="btn btn-warning">DONE</button>
        <br/>
        <br/>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="button" value="Add Screening" onclick="$('#addScreening').toggle('fast'); movieFetcher();" class="btn btn-primary btn-lg">
    <form id="addScreening" class="addScreening moveRight" hidden="hidden">
        <br/>
        <label for="selectmovie">Select Movie</label>
        <br/>
        <select name="movies" id="selectmovie"></select>
        <br/>
        <label for="selecthall">Select Hall</label>
        <br/>
        <select name="hall" multiple="True" class="selecthall" id="selecthall" style="width:20%;"></select>
        <br/>
        <label for="selecttime">Select Timings</label>
        <br/>
        <select name="timing" multiple="True" class="selecttime" id="selecttime">
            <option value="09:00">9:00am</option>
            <option value="12:00">12:00pm</option>
            <option value="15:00">3:00pm</option>
            <option value="18:00">6:00pm</option>
            <option value="21:00">9:00pm</option>
        </select>
        <br/>
        <label for="release_datere">Release Date</label>
        <br/>
        <input name="release_date" id="release_date" type="text" placeholder="yyyy-mm-dd" required>
        <br/>
        <label for="off_theatre_date">Off theatre Date</label>
        <br/>
        <input name="off_theatre_date" id="off_theatre_date" placeholder="yyyy-mm-dd" type="text" required>
        <br/>
        <br/>
        <button type="button" onclick="selectHall()" class="btn btn-success">ADD</button>
        <button type="button" onclick="$('#addScreening').toggle('fast')" class="btn btn-warning">DONE</button>
        <br/>
        <br/>
    </form>
    <br/>
    <br/>
    <input type="button" value="Add Hall" onclick="$('#addHall').toggle('fast')" class="btn btn-danger btn-lg">
    <form id="addHall" class="addHall moveRight" hidden="hidden">
        <br/>
        <label for="hall_name">Hall Name</label>
        <input name="hall_name" id="hall_name" type="text" placeholder="Hall Name" required>
        <label for="hall_type">Hall Type</label>
        <select name="hall_type" id="hall_type" class="addhall">
            <option value="Big">Big</option>
            <option value="Medium">Medium</option>
            <option value="Small">Small</option>
        </select>
        <br/>
        <button type="button" onclick="addHall()" class="btn btn-success">ADD</button>
        <button type="button" onclick="$('#addHall').toggle('fast')" class="btn btn-warning">DONE</button>
        <br/>
        <br/>
    </form>
    <br/>
    <br/>
    <input type="button" value="Set Cost" onclick="$('#addCost').toggle('fast')" class="btn btn-danger btn-lg">
    <form id="addCost" class="addCost moveRight" hidden="hidden">
        <br/>
        <label for="platinum">Platinum Seat Cost</label><br/>
        <input name="platinum" id="platinum" type="text" placeholder="Platinum Seat Cost" required><br/>
        <label for="gold">Gold Seat Cost</label><br/>

        <input name="gold" id="gold" type="text" placeholder="Gold Seat Cost" required><br/>
        <label for="silver">Silver Seat Cost</label><br/>
        <input name="silver" id="silver" type="text" placeholder="Silver Seat Cost" required><br/>
        <br/>
        <button type="button" onclick="addCost()" class="btn btn-success">ADD</button>
        <button type="button" onclick="$('#addCost').toggle('fast')" class="btn btn-warning">DONE</button>
        <br/>
        <br/>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
</body>

</html>
