<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/vendor/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
     <link rel="shortcut icon" href="../static/img/favicon.ico">
  </head>
   

<body>
    <div class="container">
        <div id="content">
    {% block body %}
    {% endblock %}
    </div>
        </div>
    </div>
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/page.js"></script>
    <script src="/static/js/vendor/handlebars.min.js"></script>
</body>
</html>
