<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book My Show</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script type="text/javascript" src="../static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/login_state.js"></script>
    <link href='../static/css/fonts/Macondo.css' rel='stylesheet' type='text/css'>
    <link href='../static/css/fonts/Revalia.css' rel='stylesheet' type='text/css'>
    <link href='../static/css/fonts/Droid-Sans.css' rel='stylesheet' type='text/css'>
    <link href='../static/css/fonts/Cabin.css' rel='stylesheet' type='text/css'>
    <link href='../static/css/fonts/Bitter.css' rel='stylesheet' type='text/css'>

    <link href="../static/css/screening.css" rel="stylesheet">
    <style>
    #hover:hover{
        cursor: pointer;
    }
    </style>
</head>

<body class="body-background">
    <nav class="navbar navbar-inverse navbar-no-margin">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home" style="font-family:'Bitter'">Book My Show</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/home#movie-div" style="font-family:'Bitter'">Movies</a></li>
                </ul>
                <form id="navBarSearchForm" class="navbar-form navbar-left" style="margin-left:20%" autocomplete="off">
                    <div class="input-group" style="width:200%">
                        <input type="text" id="search" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <i class="glyphicon glyphicon-search"></i>
                        </div>
                    </div>
                    <div style="position:absolute;width:392 px;float:none;z-index:1000;">
                        <table id="response" class="myTable" style="width:392px;background-color:white;">
                        </table>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="valchecker()" id="hover"> <span class="glyphicon glyphicon-user"></span> {{log.val}}</a>

                    </li>
                    <li >
                        {% if current_user.is_admin == true %}
                        <a onclick="window.location.href = '/admin'" id="hover">Admin Page </a>
                        {% endif %}
                    </li>
                    <li><a onclick="logchecker()" id="hover"><span class="glyphicon glyphicon-log-in"></span>{{log.log}} </a></li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <div class="movie-div">
        <br/>
        <div style="float: left; width: 50%">
            <h1>{{ movie.title }}</h1>
            <!--h1 class="hidden movie_id_required"> {{ movie.id }} </h1-->
            <h2>Director:{{ movie.director }}</h2>
            <br/>
            <h2>Duration:{{ movie.duration }}</h2>
            <br/>
            <br/>
            <h3>{{ movie.description }}</h3>
        </div>
        <iframe src= {{ movie.url }} style="float: right; width: 40%;height: 80%; margin-right: 3%"></iframe>
        <br/>
    </div>
    <div class="screening-div">
        <h2 style="text-align:center;">Screening</h2>
        <hr/>
        <br/>
        <h3>Choose Date:</h3>
        <div class="btn-group"></div>
        <br/>
        <div class="hall-div"> </div>
        <hr/>
    </div>
    </div>
</body>
    <script type="text/javascript" src="../static/js/screening.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>




</html>
