<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Seat booking</title>
    <link rel="stylesheet" href="../static/css/seating.css">
    <script src="../static/js/vendor/jquery.min.js"></script>
    <script src="../static/js/seating.js"></script>
    <link href='../static/css/fonts/Revalia.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
      #hover:hover{
        cursor: pointer;
      }
    </style>
</head>

<body class="container">
    <h1 style="text-align:center;">Please select seats to book</h1>
   <table width="100%">
   <tr width="100%">
   
   <td width="75%">
    <div class="seat-container" style="float:right;">
        <br/>
        <br/>
        <ol id="seat-selector"></ol>
        <br/>
      <div style="background-color:gray;padding:1%;">

    <h1 style="text-align:center;color:white;margin:auto">All Eyes this way</h1>
      <div>
        <br/>
        <br/>
    </div>
    </td>
    <td>
    <div class="cost_viewer list-type3">
    <h3 id="dyncost" style="color : white">Cost : 0</h3>
    <h3 id="dynseat" style="color : white">Seats Selected : 0</h3>
    <li><a id="hover" onclick=seating.bookNow(); style="text-align: center;">Book Now</a></li>
   </div>
   </td>
   </tr>
    <br/>
    </div>
</body>

</html>
