<html>

<head>
    <link rel=stylesheet href='../static/css/user.css'>
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script type="text/javascript" src="../static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/bootstrap.min.js"></script>
    <script src='../static/js/user.js'></script>
</head>

<body>
    <div class="container">
        <div style="margin-top:5%;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">User Details</h3>
                </div>
                <div class="panel-body user-body">
                    <div>
                        <div class=" col-md-9">
                            <table class="table table-user-information" style="border:none;">
                                <tr>
                                    <td>Name</td>
                                    <td id="user_name"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td id="user_email"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">Bookings</h3>
                </div>
                <div class="panel-body booking-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9" style="width:100%;">
                            <table class="table" style="width:100%;" id="booking_info">
                                <tr class="trow">
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                    <td class="tcol">Title</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
